<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <title>CUT SHORT</title>
</head>
<body>
        <section class="header">
        

                
                <!--Navbar Section-->
            <nav class="navbar">
            <div class="navbar-head">
                <a href="/" id="navbar__logo">CUT <br>SHORT</a>
            </div>
            <div class="nav-links" id="navLinks">
           
           
                <ul>
                    <li><a href="/user/register">REGISTER</a></li>
                    <li><a href="/user/login">LOGIN</a></li>
                </ul>
            </div>

    </nav>
    
    
    
    
    
    
    <!-- Hero Section -->
    <div class="hero" id="home">
        <div class="hero__container">
            <h2 class="hero__heading">You can shorten your links <br><span>WITH SO MUCH EASE</span></h1>
            <p class="hero__description"><strong>Tired of sharing long and cumbersome URLs? <br>Look no further! Our link shortener app is designed to simplify your online experience.<br> With Cut Short, you can easily convert those <br>lengthy web addresses into short and shareable links. </strong></p>

            <div class="start">
              <button  class="btn"><a href= "/start">Get Started</a></button>

            </div>
        </div>
    </div>
  



   


    
   <!-- Footer Section -->
 <div class="footer__container">
  <p>Cut Short 2023 - All rights reserved</p>
  <p>Happydave Digital Solutions</p>
</div>
                

  
</body>
</html>